@use "variables" as *; //this puts all the variables in the global namespace.

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin divider($color: $accent1) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}
// these styles here should describe how the atoms (elements) should appear most of the time.  
//They can be overridden at the molecule (block) as necessary
h1,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}
h1 {
  background-color: $primary;
  color: $text-light;
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}
h2 {
  font-style: italic;
  color: $background-color;
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 1em;
}
h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}
h4 {
  font-size: 1.6em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  @include set-font(1.6em, 1.5em);
  padding: 0.5em 0;
  margin: 0;
  letter-spacing: .08rem;
}

a {
  font-size: 1.4rem;
  border-bottom: 1px solid $text-dark;
  color: $text-dark;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: $accent1;
}
