@use "variables" as *; // this puts all the variables in the global namespace.
@use "mixins";

// these styles here should describe how the atoms (elements)
// should appear most of the time.
// They can be overridden at the molecule (block) as necessary
body {
  font-family: $fonts-body;
  background-color: $background-color;
}

h1,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}

h1 {
  @include mixins.font(2.5rem, $spacing: 1px);

  text-align: center;
  background-image: linear-gradient(10deg, $background-color, $primary, $background-color, $accent1, $background-color, $accent2, #000, $text-light);
  background-size: 100%;
  background-repeat: repeat;

  /*** Use the text as a mask for the background.
  // This will show the gradient as a text color rather than element bg. ***/
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h2 {
  @include mixins.font(1rem, $spacing: 1px, $color: $text-light, $style: italic);

  text-align: center;
  margin-top: -.5rem;
  margin-left: 3rem;
}

h3 {
  @include mixins.font(2.25rem, 200, 1px,);

  padding: .5rem 0 .25rem;
}

// for styleguide
h4 {
  @include mixins.font(1.6rem, 200, 1px);
 
  margin: 0.5rem 0;
}

p {
  @include mixins.font(1.6rem, $spacing: .08rem, $color: $text-light, 
  $height: 1.5rem);

  padding: 0.5rem 0;
  margin: 0;
}

abbr {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 1.75rem 0;
}

a {
  @include mixins.font(1.6rem, $color: $p-link, $height: 1.5rem);
  
  text-decoration: none;
  transition: border-color 0.3s ease-in-out;
  
  &:hover {
    border-bottom: 1px solid $accent1;
  }
}
