@use "../../../../atomic-basics/variables" as *;
@use "../../../../atomic-basics/atoms";

.benefits [title="Cascading Style Sheets"]::before {
  @include atoms.insert-image("images/white-moon.svg", $float: left,
  $add-shape-margin: yes);

  margin-right: .625rem;
  margin-top: 3rem;
}
