@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

.archives {
  color: $primary;
}

.design-archives {
  padding: 1rem;

  & ul li {
    padding-left: 50px;
    position: relative;
  
    &::before {
      @include atoms.insert-image("images/earth-planet.svg", inline-block,
      20px, 20px, contain);
      @include atoms.absolute($top: 0, $left: 15px);
    }
  }
}
