@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

.design-archives {
  padding: 1rem;
}

.design-archives h3 {
  color: $primary;
}

.design-archives ul {
  list-style: none;
  padding: 0;
}

.design-archives ul li {
  margin: 1.5rem 0;
}
