@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

.select {
  color: $accent2;
}

.design-selection {
  padding: 1rem;

  & .designer-name {
    margin-left: .25rem;
  }

  & ul li {
    padding-left: 3.125rem;
    position: relative;
  
    &::before {
      @include atoms.insert-image("images/mars-planet.svg", inline-block,
      contain, 20px);
      @include atoms.absolute($top: 0, $left: 15px);
    }

    &:not(a) {
      color: $text-light;
    }
  
    & a {
      margin: .5rem 0;
    }
  }
}

.design-name {
  display: block;
  max-width: fit-content;
}

.designer-name {
  color: $text-light;
  margin-left: 1rem;
}
