@use "../../../base-units/variables" as *;
@use "../../../base-units/mixins";

.page-wrapper {
  position: relative;
}

footer {
  @include mixins.line(horizontal);
  @include mixins.flex($gap-type: column-gap, $justify: center);
  @include mixins.absolute($bottom: 0);
  
  width: 100%;
  margin-left: -1rem;
}

.zen-resources {
  padding-bottom: 3rem;
}
