@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

.page-wrapper {
  position: relative;
}

footer {
  @include atoms.line(horizontal);
  @include atoms.flex($gap-type: column-gap, $justify: center);
  @include atoms.absolute($bottom: 0);
  
  width: 100%;
  margin-left: -1rem;
}

.zen-resources {
  padding-bottom: 3rem;
}
