@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

.resources {
  color: $accent1;
}

.zen-resources {
  padding-left: 1rem;

  & ul li {
    padding-left: 50px;
    position: relative;
  
    &::before {
      @include atoms.insert-image("images/green-planet.svg", inline-block,
      contain, 25px, 20px);
      @include atoms.absolute($top: 0, $left: 15px);
      
      transform: rotate(-30deg);
    }
  }
}
