@use '../../../atomic-basics/variables' as *; 
@use '../../../atomic-basics/atoms';

h3.resources {
    color: $accent2;
}
#zen-resources a {
    font-family: $fonts-body;
    line-height: 2rem;
}

.zen-resources {
    padding-left: 1rem;
}