/* --------------------------------------*\
  #BODY'S TEXT LARGE-VIEW MOONS MOLECULES
\*-------------------------------------- */

/** 
 * This section controls the appearance of the paragraphs and their titles.
 */
@use "../../../../base-units/variables" as *;
@use "../../../../base-units/mixins";

// Added temporarily to place the link and have the headers out of the view
.main {
  @include mixins.breakpoint(large) {
    margin-top: 10rem;
  }
}

// Hides the paragraphs
.preamble,
.main {
  @include mixins.breakpoint(large) {
    & p {
      display: none; /* conceals the sections paragraphs */
    }

    & h3 {
      font-size: 130%;
      text-align: center;
    }
  }
}

// Styles the Enlightenment section title
.preamble h3 {
  @include mixins.breakpoint(large) {
    padding: 35% 15% 25% 7%;
    text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
    transition: all 1s ease-in-out;
    animation: pulse 3s ease-in-out infinite;
  }
}

// Styles the About section title
.explanation h3 {
  @include mixins.breakpoint(large) {
    padding-top: 30%;
    text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
    animation: pulse 3s ease-in-out infinite;
  }
}

// Styles the Participation section title
.participation h3 {
  @include mixins.breakpoint(large) {
    padding-top: 40%;
    font-size: 100%;
    text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
    animation: pulse 3s ease-in-out infinite;
  }
}

// Styles the Benefits section title
.benefits h3 {
  @include mixins.breakpoint(large) {
    padding-top: 40%;
    text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
    animation: pulse 3s ease-in-out infinite;
  }
}

// Styles the Requirement section title
.requirements h3 {
  @include mixins.breakpoint(large) {
    padding-top: 40%;
    text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
    animation: pulse 3s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(none);
  }
  
  50% {
    transform: scale(1.03);
  }
    
  100% {
    transform: scale(none);
  }
}
