@import "https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap";
h1,
h3,
h4 {
  font-family: "Londrina Solid", cursive;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(10deg, #030746, #b79ed1, #030746, #e43388, #030746, #48a9a6, #000, #fff);
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background.
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h2 {
  text-align: center;
  margin-top: -0.5rem;
  margin-left: 3rem;
  font-style: italic;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 2.25rem;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  padding: 0.5rem 0 0.25rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  margin: 0.5rem 0;
}

p {
  font-family: "Gemunu Libre", arial, serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  margin: 0;
  letter-spacing: 0.08rem;
}

abbr {
  text-decoration: none;
}

a {
  font-size: 1.4rem;
  color: #ff0;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-bottom: 1px solid #e43388;
}

ul li {
  list-style: none;
}

.sidebar a {
  font-family: "Gemunu Libre", arial, serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
}

body {
  background-color: #030746;
}

.intro::before {
  z-index: -1;
  content: "";
  background-image: url("images/blue-planet.svg");
  position: absolute;
  left: 50%;
  margin-left: -135px;
  display: block;
  width: 270px;
  height: 265px;
  transform: rotate(0.2turn);
}

.summary::before {
  z-index: -1;
  content: "";
  background-image: url("images/rocket-grey-red.svg");
  position: absolute;
  left: 50%;
  margin-left: -120px;
  display: block;
  width: 270px;
  height: 670px;
  transform: rotate(0.035turn);
}

header {
  border-radius: 50%;
  padding: 6rem 0;
  width: 267px;
  margin: 0 auto;
}

.summary p:first-child {
  font-family: "Gemunu Libre", arial, serif;
  font-size: 0.8rem;
  line-height: normal;
  margin: -7rem auto 5rem;
  text-align: center;
  width: 235px;
}

div.summary p:last-child {
  font-family: "Gemunu Libre", arial, serif;
  font-size: 0.8rem;
  line-height: normal;
  font-weight: 900;
  margin-bottom: -1.5rem;
  color: #fff;
  padding: 0 1rem;
  width: 150px;
}

div.summary p:last-child a {
  font-family: "Gemunu Libre", arial, serif;
  font-size: 0.8rem;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div.preamble,
div.main {
  padding: 1rem;
}

.preamble h3 {
  color: #b79ed1;
}

.preamble p {
  color: #fff;
}

.explanation h3 {
  color: #e43388;
}

.participation h3 {
  color: #48a9a6;
  padding-top: 2.5rem;
}

.participation a {
  color: #ff0;
}

.benefits h3 {
  color: #b79ed1;
  padding-top: 2.5rem;
}

.requirements h3 {
  color: #e43388;
  padding-top: 2.5rem;
}

.requirements a {
  color: #ff0;
}

.main p {
  color: #fff;
}

div.preamble > h3 + p + p::before {
  content: "";
  background-image: url("images/yellow-moon.svg");
  display: block;
  width: 120px;
  height: 122px;
  float: right;
  shape-outside: url("images/yellow-moon.svg");
  margin-top: 90px;
}

.design-selection {
  padding: 1rem;
}

.design-selection h3 {
  color: #48a9a6;
}

.design-selection ul {
  list-style: none;
  padding: 0;
}

.design-selection ul li {
  margin: 1.75rem 0;
}

.design-name {
  display: block;
  max-width: fit-content;
  font-size: 1.5rem;
}

.designer-name {
  font-size: 1.2rem;
  color: #fff;
}

.design-selection ul li:not(a) {
  color: #fff;
}

.design-selection ul li a {
  margin: 0.5rem 0;
}

.design-archives {
  padding: 1rem;
}

.design-archives h3 {
  color: #b79ed1;
}

.design-archives ul {
  list-style: none;
  padding: 0;
}

.design-archives ul li {
  margin: 1.5rem 0;
}

h3.resources {
  color: #e43388;
}

.zen-resources {
  padding-left: 1rem;
}

.zen-resources ul {
  padding: 0;
}

.zen-resources ul li {
  margin: 1.5rem 0;
}

div.page-wrapper {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -1rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
  border-top: 3px solid #ff0;
  border-bottom: 3px solid #ff0;
}

div.zen-resources {
  padding-bottom: 3rem;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
