/* ------------------------------------*\
  #PLANET LARGE-VIEW PLANET MOLECULE
\*------------------------------------ */

/** 
 * This section inserts the planet into the section tag that holds the title 
 * and opening paragraphs and then positions the planet behind them and puts
 * the planet into the center of the large screen view.
 */
@use "../../../base-units/variables" as *;
@use "../../../base-units/mixins";

.intro::before {
  @include mixins.breakpoint(large) { /* keep this in large-view */
    & {
      @include mixins.insert-image("images/jupiter.svg", $width: 620px,
      $height: 610px); /* insert planet image */
      @include mixins.absolute($top: -10px, $left: 50%); /* position */
    
      z-index: -1; /* position */
      margin-left: -300px; /* position center the planet */
      transform: rotate(180deg); /* rotate the planet image 180deg */
      background-repeat: no-repeat;
    }
  }
}
