@use "../../../base-units/variables" as *;
@use "../../../base-units/mixins";

.summary p:last-child {
  @include mixins.font(.8rem, $height: normal);
  
  font-weight: 900;
  margin-top: 17.5rem;
  margin-bottom: -1.5rem;
  color: $text-light;
  padding: 0 1rem;
  width: 9rem;

  & a {
    @include mixins.font(.8rem, $height: normal);

    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
