/* ------------------------------------*\
  #DESIGNS ASIDE FOOTER MOLECULE
\*------------------------------------ */

/** 
 * This section styles the designs aside and inserts planet icons next to 
 * each design example.
 */
@use "../../../base-units/variables" as *;
@use "../../../base-units/mixins";

.select {
  color: $accent2;
}

.design-selection {
  @include mixins.line(top); /* put lines above & below links */

  padding: 1rem;
  margin-top: 3rem;

  & .designer-name {
    margin-left: .25rem;
  }

  & ul li {
    padding-left: 3.125rem;
    position: relative;
  
    &::before {
      @include mixins.insert-image("images/orange-planet.svg", inline-block,
      contain, 27px, 37px);
      @include mixins.absolute($top: 0, $left: 15px);
    }

    &:not(a) {
      color: $text-light;
    }
  
    & a {
      margin: .5rem 0;
    }
  }
}

.design-name {
  display: block;
  max-width: max-content;
}

.designer-name {
  color: $text-light;
  margin-left: 1rem;
}
