/* ------------------------------------*\
  #RESOURCES ASIDE FOOTER MOLECULE
\*------------------------------------ */

/** 
 * This section styles the resources aside and inserts planet icons next to 
 * each resource listed.
 */
@use "../../../base-units/variables" as *;
@use "../../../base-units/mixins";

.resources {
  color: $accent1;
}

.zen-resources {
  padding: 1rem; /* changed from padding-left to mathc other asides */

  & ul li {
    padding-left: 50px;
    position: relative;
  
    &::before {
      @include mixins.insert-image("images/green-planet.svg", inline-block,
      contain, 25px, 20px);
      @include mixins.absolute($top: 0, $left: 15px);
      
      transform: rotate(-30deg);
      animation: rotate 1s linear infinite;
    }
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(-30deg);
  }

  10% {
    transform: rotate(-35deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  30% {
    transform: rotate(-35deg);
  }

  40% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(30deg);
  }

  60% {
    transform: rotate(-35deg);
  }

  70% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(-35deg);
  }

  90% {
    transform: rotate(-25deg);
  }
}
