@use "../../../../atomic-basics/variables" as *;
@use "../../../../atomic-basics/atoms";

.main {
  padding: 1rem;
}

.preamble {
  padding: 1rem;

  & h3 {
    color: $primary;
  }

  & p {
    color: $text-light;
  }
}

.explanation h3 {
  color: $accent1;
}

.participation h3 {
  color: $accent2;
  padding-top: 2.5rem;
}

.benefits h3 {
  color: $primary;
  padding-top: 2.5rem;
}

.requirements h3 {
  color: $accent1;
  padding-top: 2.5rem;
}

.main p {
  color: $text-light;
}
