/* ----------------------------------------------*\
  #MOON SMALL-VIEW  ENLIGHTENMENT MOON MOLECULES
\*---------------------------------------------- */

/** 
 * This section inserts the moon image around the planet on the left side.
 */
@use "../../../../base-units/variables" as *;
@use "../../../../base-units/mixins";

.preamble {
  @include mixins.breakpoint(large) { /* keep this in large-view */
    & {
      @include mixins.insert-image("images/yellow-moon.svg", $width: 150px,
      $height: 152px);
      @include mixins.absolute($left: 50%, $top: 18.5%);

      margin-left: -580px;
    }

    &:hover {
      animation: none;
    }

    &:hover h3 {
      transform: scale(1.2);
    }
    // &:hover ~ .page-wrapper::after {
    //   animation: none;
    // }

    // &::before {
    //   transition: background-color 1s ease-in-out;
    // }

    &:hover::before {
      @include mixins.absolute($right: 50%, $top: -265%);
     
      margin-right: -905px;
      content: "";
      background-color: $primary;
      width: 820px;
      height: 810px;
      border-radius: 50%;
      box-shadow: 0 5px 100px 50px $primary;
    }

    &:hover p {
      @include mixins.absolute($right: 50%, $top: -148.5%);

      margin-right: -770px;
      display: block;
      text-align: center;
      width: 560px;
      height: 228px;
      border-radius: 2% 2% 40% 40% / 5% 5% 95% 95%;
      text-shadow:
        1px 1px 20px $background-color,
        -1px -1px 20px $background-color;
    }

    & p:nth-child(2) {
      width: 450px;
      margin-right: -715px;
    }

    & p:nth-child(3) {
      top: -88.5%;
    }

    & p:nth-child(4) {
      top: -28.5%;
      width: 420px;
      margin-right: -700px;
    }
  }
}
