@use "../../../../atomic-basics/variables" as *;
@use "../../../../atomic-basics/atoms";

.explanation [title="HyperText Markup Language"]::before {
  @include atoms.insert-image("images/red-white-moon.svg", $float: left,
  $add-shape-margin: yes);

  margin-right: .625rem;
  margin-top: 7.3rem;
}
