/* -------------------------------------------*\
  #MOON LARGE-VIEW REQUIREMENTS MOON MOLECULES
\*------------------------------------------- */

/** 
 * This section inserts the moon image around the planet on the right side and 
 * creates the large central moon image with the Requirements section's text 
 * inside it when the smaller moon is hovered over.
 */
@use "../../../../base-units/variables" as *;
@use "../../../../base-units/mixins";

/* inserts the Requirements moon on the right side of the planet */
.requirements {
  @include mixins.breakpoint(large) { /* keep this in large-view */
    @include mixins.insert-image("images/orange-moon.svg", $width: 160px,);
    @include mixins.absolute($right: 50%, $top: 24.5rem);

    /* positions moon in fixed position from planet's center to create a *
     * stable hover image positon */
    margin-right: -575px;

    /* inserts and places large version of image hold paragraphs */
    &:hover::before {
      @include mixins.absolute($right: 8%, $top: -355%);
      @include mixins.insert-image("images/orange-moon.svg", $width: 880px,
      $height: 880px);

      margin-right: 120px;
      background-repeat: no-repeat; /* prevents svg image from repeating */
    }

    /* absolute positioning for all & placing first paragraph */
    &:hover p {
      @include mixins.absolute($right: 50%, $top: -300%);

      margin-right: 218px;
      width: 550px;

      /* shared characteristics of all Enlightenment paragraphs */
      display: block;
      text-align: center;
      text-shadow:
        1px 1px 20px $background-color,
        -1px -1px 20px $background-color;
    }

    /* placement for second paragraph */
    & p:nth-child(3) {
      top: -295px;
      width: 820px;
      margin-right: 70px;
    }

    /* placement for third paragraph */    
    & p:nth-child(4) {
      width: 867px;
      margin-right: 55px;
      margin-top: 390px;
    }
    
    /* placement for fourth paragraph */
    & p:nth-child(5) {
      top: 20px;
      width: 630px;
      margin-right: 160px;
    }

    /* placement for fifth paragraph */
    & p:nth-child(6) {
      top: 160px;
      width: 400px;
      margin-right: 280px;
    }
  }
}
