@use "../../../../base-units/variables";
@use "../../../../base-units/mixins";

.participation {
  @include mixins.breakpoint(large) {
    @include mixins.insert-image("images/brown-moon.svg", $width: 100px,
    $height: 98px);
    @include mixins.absolute($left: 50%, $top: -8.85%);

    z-index: -1;
    margin-left: -50px;
  }
}
