// import Londrina Solid for headings font & Gemunu Libre for the body font
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

// fonts variables
$fonts-headline: "Londrina Solid", cursive;
$fonts-body: "Gemunu Libre", Arial, serif;

// color variables
$background-color: #030746;
$primary: #B79ED1;
$accent1: #E43388;
$accent2: #48A9A6;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
$p-link: #ffff00;
