@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

.summary::before {
  z-index: -1;
  content: "";
  background-image: url("images/rocket-grey-red.svg");
  position: absolute;
  left: 50%;
  margin-left: -7.25rem;
  margin-top: -8rem;
  display: block;
  width: 270px;
  height: 640px;
  transform: rotate(.035turn);
}
