@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

.summary::before {
  z-index: -1;
  content: "";
  background-image: url("images/rocket-grey-red.svg");
  position: absolute;
  left: 50%;
  margin-left: -120px;
  // margin-top: -10px;
  display: block;
  width: 270px;
  height: 670px;  
  transform: rotate(.035turn);
}
