// as * puts all the variables in the global namespace.
@use "../../../atomic-basics/variables" as *;
@use "../../../atomic-basics/atoms";

header {
  border-radius: 50%;
  padding: 6rem 0;
  width: 267px;
  margin: 0 auto;
}
